/* Start of index.html style for Course Page*/
body {
    font-family: copperplate;
    color: #fff8dc;
    background-color: rgb(77, 76, 76);
    margin: auto;
    max-width: 900px;
  padding: 24px;
}

header {
    text-align: center;
}

a:visited {
    color: yellow;
}

a:hover {
    color: firebrick;
}

a:link{
    color: green;
}

hr {
    border: 3px double;
}

footer {
    text-align: center;
    font-family: arial rgb(78, 78, 78);
}

footer a:visited {
    color: yellow;
}

footer a:hover {
    color: firebrick;
}

footer a:link{
    color: green;
}

/* Start of introduction.html style for Introduction Page */
.center-text-display-name {
    text-align: center;
    font-size: 2rem;
    white-space: nowrap;
}

.figure-centered {
    text-align: center;
}

.diff-font {
    font-family: arial black;
}

.blockquote-center-text{
    text-align: center;
}

/* Start of contract.html style for Contract Page */
.contract-image {
    display: block;
    margin: 0 auto;
    text-align: center;
}
