/* Start of index.html style for Course Page*/
body {
    font-family: copperplate;
    color: #fff8dc;
    background-color: rgb(77, 76, 76);
    margin: auto;
    max-width: 900px;
    margin: 0 auto;
    padding: 24px;
}

header {
    text-align: center;
    padding: 20px;
}

main {
    max-width: 850px;
  margin: 30px auto;
  color: rgb(77, 76, 76);
  background: #fff8dc;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgb(0, 0, 0);
  border-left: 6px solid rgb(125, 125, 125);
}

a:visited, a:link, a:active {
    color: orange;
}

a:hover {
    color: rgb(188, 188, 188);
}


hr {
    border: 3px double;
}

footer {
    text-align: center;
    font-family: arial rgb(78, 78, 78);
}

footer a:visited, footer a:link, footer a:active {
    color: orange;
}

footer a:hover {
    color: rgb(188, 188, 188);
}


/* Start of introduction.html style for Introduction Page */
h6 {
    text-align: center;
    font-size: 2rem;
    white-space: nowrap;
}


figure {
    text-align: center;
}

/* change font family*/
.diff-font {
    font-family: arial black;
}

blockquote{
    text-align: center;
}

/* Start of contract.html style for Contract Page */

.contract-image {
    display: block;
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 600px) {
    img {
        width: 100%;
        max-width: 300px;
    }
}

/* Start of about.html style for About Page */

