<footer>
        <a href="https://webpages.charlotte.edu/mlawso23/">CLT Web</a>
        |
        <a href="https://maliklawson.github.io">GitHub.io</a>
        |
        <a href="https://github.com/maliklawson">GitHub</a>
        |
        <a href="https://www.freecodecamp.org/mlawso23">freeCodeCamp</a>
        |
        <a href="https://www.codecademy.com/profiles/mlawso23">Codecademy</a>
        |
        <a href="https://www.linkedin.com/in/malik-lawson-b0a8ab3b2/">LinkedIn</a>
        <p class="diff-font">Site designed by<a href="lawsonenterprises.co/"> Lawson Enterprises </a>©2026</p>
        <p><a href="https://webpages.charlotte.edu/mlawso23/itis3135/stuff/cR@ppY_WEBpage%20.htm"> CRAPpy Webpage</a></p>
    </footer>