<header>
        <h1>Malik Lawson's Mighty Lion || ITIS3135</h1>
        <p><em><strong>Roaring ahead in Web Development</strong></em></p>
        <nav>
            <a href="./">Home</a>
            |
            <a href="introduction.html">Introduction</a>
            |
            <a href="contract.html">Contract</a>
            |
            <a href="about.html">About</a>
            |
            <a href="survey.html">Survey</a>
            |
            <a href="cards.html">Cards</a>
            |
            <a href="inventory.html">Inventory</a>
            |
            <a href="documentation.html">Documentation</a>
            |
            <a href="product.html">Product</a>
        </nav>
        <br>
        <nav>
            <a href="https://webpages.charlotte.edu/mlawso23/itis3135/stuff/cR@ppY_WEBpage%20.htm"> CRAPpy Webpage</a>
        </nav>
    </header>