header {
    text-align: center;
}

body {
    font-family: copperplate;
    background-color: silver;
    color: navy;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 15px;

}

ul {
    list-style-position: inside;
    text-align: center;
    list-style-type: square;
    padding-left: 25px;
}

img{
    max-width: 400px;
    width: 400px;
    max-height: 50%;
    height: 50%;
    border-radius: 50px;
    
}

.course-link {
    text-align: center;
    
}

.course-link a:link {
    color: green;

}

.course-link a:visited {
    color: rgb(154, 97, 1);
    font-weight: 100px;

    
}

.course-link a:hover, .course-link:active {
    color: firebrick;
    text-decoration: underline;
}

hr {
    border: 3px double;
    background-color: rgb(105, 105, 105);
    margin-left: 2.5%;
  margin-right: 2.5%;
}

footer a:link {
    color: green;
}


footer a:visited {
    color: rgb(154, 97, 1);

}

footer a:hover {
    color: firebrick;
}

footer {
    text-align: center;
    font-family: arial rgb(78, 78, 78);
}

.design-page-link {
    font-family: arial black;
}
